.Login {
  background-color: #FAFAFA;
  display: flex;
  align-items: center;
  min-height: 100vh;
}

.Login__Form {
  background-color: white;
  border-radius: 5px;
  box-shadow: .875em .875em 10px rgba(0, 0, 0, 0.1);
  padding: 2em 1em;
}

.Login__Title {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 1em;
}

.Login-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .Login-logo {
    animation: Login-logo-spin infinite 20s linear;
  }
}

.Login-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Login-link {
  color: #61dafb;
}

@keyframes Login-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
